<h1>Find Anagrams!</h1>
<form action="/anagram">
  <div class="form-group">
    <label for="main_word_input">Please enter a word:
    </label>
    <input id="main_word" name="main_word" class="form-control" type="text">
  </div>

  <div>
    <label for="words_to_check_input">Please enter a words to check against:
    </label>
    <input id="words_to_check" name="words_to_check" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
